 .module--yellow .button__ghost--blue:hover {
	 color: #fff;
}
 .module--yellow .button--blue:hover {
	 color: #fff;
}
 .module--sm, .main__container, .module, .columns__container, .slider__container, .feature {
	 margin-top: 0;
	 margin-bottom: 0;
}
 .main__half, .main__full, .main__content, .module--spacing, .blockquote--bg {
	 padding-top: 0;
	 padding-bottom: 0;
}
 .module--spacing, .main__container, .module, .columns__container, .slider__container, .feature, .blockquote--bg{
	 padding-top: 3rem;
	 padding-bottom: 3rem;
}
 @media (min-width: 64em){
	 .module--spacing,.main__container, .module, .columns__container, .slider__container, .feature, .blockquote--bg{
		 padding-top: 5rem;
		 padding-bottom: 5rem;
	}
}
 @media (min-width: 80em){
	 .module--spacing, .main__container, .module, .columns__container, .slider__container, .feature, .blockquote--bg{
		 padding-top: 7rem;
		 padding-bottom: 7rem;
	}
}
 .module--spacing .main__container, .module .main__container, .module .module--spacing {
	 padding-top: 0;
	 padding-bottom: 0;
}
 .module + .module, .module + .slider__container, .module + .columns__container, .module + .feature, .module + .main__container, .module + .module--push, .slider__container + .module, .slider__container + .slider__container, .slider__container + .columns__container, .slider__container + .feature, .slider__container + .main__container, .columns__container + .module, .columns__container + .slider__container, .columns__container + .columns__container, .columns__container + .feature, .columns__container + .main__container, .feature + .module, .feature + .slider__container, .feature + .columns__container, .feature + .feature, .feature + .main__container, .main__container + .module, .main__container + .slider__container, .main__container + .columns__container, .main__container + .feature, .main__container + .main__container{
	 padding-top: 0;
}
 #main-content > .main__container + .main__container {
	 padding-top: 0;
}
 @media (min-width: 64em){
	 #main-content > .main__container + .main__container {
		 margin-top:-2rem;
	}
	 #main-content > .main__container.intro__container + .main__container {
		 margin-top:0;
	}
}
 @media (min-width: 80em){
	 #main-content > .main__container + .main__container {
		 margin-top:-4rem;
	}
}
 #main-content > .main__container.breadcrumb__container + .main__container {
	 margin-top: 0;
	 padding-top: 3rem;
}
 .main__full + .main__full {
	 margin-top: 2rem;
}
 .main__container.breadcrumb__container{
	 padding-top: 0;
	 padding-bottom: 0;
}
 .module--push::before {
	 height: 19rem;
}
 .module--push-alt2::before {
	 height: 14rem;
}
 .module + .module--push::before {
	 height: 13rem;
}
 .module + .module--push-alt2::before {
	 height: 8rem;
}
 .slashes.module{
	 margin-bottom: 2rem;
}
 .intro__container h1, .intro__container h2, .intro__container h3 {
	 margin-top:0;
	 margin-bottom:0;
}
 .main__container h1, .main__container h2, .main__container h3 , .main__container h4 {
	 margin-top:0;
}
 .intro__container {
	 padding-top:2rem;
	 padding-bottom:4rem;
}
 .intro__container .intro, .intro__container .tagline {
	 margin-top:2rem;
	 margin-bottom:2rem;
}
 .intro__container + .main__container {
	 padding-bottom:5rem;
}
 .main__sidebar{
	 padding-top: 0;
	 padding-bottom: 3rem;
}
 .columns__item h3 {
	 margin: 1.5em 0 0.75em;
}
 .columns--gap .columns__item, .columns--gap .columns__item:first-child {
	 margin: 2rem 0 0 2rem !important;
}
 .slashes-module + .pre-footer__container {
	 margin-top:3rem;
}
 @media (min-width: 64em){
	 .slashes-module + .pre-footer__container {
		 margin-top:5rem;
	}
}
 @media (min-width: 80em){
	 .slashes-module + .pre-footer__container {
		 margin-top:7rem;
	}
}
 .tile__item, .grid-view .finder__item {
	 margin-bottom: 2rem;
}
 .main__sidebar .card .card__content h1, .main__sidebar .card .card__content .h1, .main__sidebar .card .card__content h2, .main__sidebar .card .card__content .h2 , .main__sidebar .card .card__content h3, .main__sidebar .card .card__content .h3, .main__sidebar .card .card__content h4, .main__sidebar .card .card__content .h4, .main__sidebar .card .card__content h5, .main__sidebar .card .card__content .h5, .main__sidebar .card .card__content h6, .main__sidebar .card .card__content .h6 {
	 margin-top:0;
}
 .main__sidebar .card .card__content {
	 overflow: auto;
}
 @media (max-width: 47.938em){
	 .main__content{
		 padding-bottom: 3rem;
	}
	 .main__half.main__half--right {
		 padding-top: 3rem;
	}
	 .module .collapse__button {
		 margin-top: 3rem;
	}
	 .collapse__button {
		 margin-bottom: 0;
	}
	 .button--yellow {
		 width:100%;
	}
	.button--blue {
		 width:100%;
	}
	.button__ghost--blue {
		 width:100%;
	}
	/* this removes margins from mobile .columns--gap .columns__item{
		 margin-top: 0;
	}
	 */
	 .columns+.columns{
		 margin-top: 0;
	}
}
 .grid .h6 {
	 margin: 1.5em 0 0.75em;
}
 @media (min-width: 80em){
	 .columns__item>:first-child{
		 margin-top:0 
	}
	 .columns__item>:last-child{
		 margin-bottom:0 
	}
}
 .search .twitter-typeahead{
	 background-color:#fff;
}
 .search .twitter-typeahead .tt-menu{
	 left: 0px !important;
	 width: 100% !important;
}
 .collapse__button.collapse--active {
	 margin-bottom: 1rem;
}
/*Faculty Row Align Button To Bottom*/
 .card__slider .card__content {
	 display: flex;
	 flex-direction: column;
}
 .card__slider p.card__text {
	 flex-grow: 1;
}
 .card__slider .card__content>:last-child {
	 align-self: flex-end;
}
 @media (min-width: 64em){
	 .stat__item {
		 width: calc(30% - 2rem);
	}
}
 